.project-page{
    background-image: url("../../assets/images/background2.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Helvetica;
    font-size: large;

    .text-zone{
        margin: 20%;
        h1 {
            left: 20%;
        }
    }

}   