.home-page{
    .text-zone {

        background-image: url("../../assets/images/background2.jpg");
        background-size: cover;
        position: absolute;
        height: 130%;
        width: 100%;
        font-family: monospace;
        font-size: 20px;
        min-width: 1080px;
        min-height: 1400px;


    }
    h1{
        position: absolute;
        top: 24%;
        left: 20%;
        height: 100%;
        width: 100%;
        font-size: 200%;
        color: #4b6b8b;
        animation: fadeIn 1s 1.5s backwards;
    }

    h3{
        position: absolute;
        color: #62948d;
        left: 20%;
        top: 28.5%;
        height: 100%;
        width: 100%;
        animation: fadeIn 1s 1.8s backwards;
        font-size: 70%;
    }
    .flat-button {
        position: absolute;
        top: 32%;
        left: 20%;
        color: #4b6b8b;
        font-size: 100%;

        letter-spacing: 5px;
        font-family: monospace;
        text-decoration: none;
        padding: 10px 18px;
        border: 3px solid #4b6b8b;
        animation: fadeIn 1s 2.5s backwards;
        white-space: nowarp;

        &:hover {
            background: #4b6b8b;
            color: #ffffff;
        }
    }

}
/*







    .text-zone {
        position: absolute;
        left: 15%;
        top: 40%;
        width: 100%;
        font-family: monospace;
        font-size: 20px;
    }




*/